# Forward all logs to Logstash (ELK stack)
# Managed by Ansible
*.* @@{{ elk_logstash_host }}:{{ elk_logstash_port | default(5000) }}
$ActionQueueFileName fwdRule1
$ActionQueueMaxDiskSpace 1g
$ActionQueueSaveOnShutdown on
$ActionQueueType LinkedList
$ActionResumeRetryCount -1
