# Managed by Ansible
[DEFAULT]
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
backend  = systemd

[sshd]
enabled  = true
port     = {{ ssh_port }}
logpath  = %(sshd_log)s
maxretry = 3
